@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;

}
.section-ml {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}
body{
    width: 100%;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px ;
    background:#E3E6F3 ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.header-section img{
    width: auto;
    height: 110px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}
.navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  
}

.navbar li a:hover{
    color: #088178;
}
.navbar li a.active{
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;


}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
    margin-top: 50px;
    background-image: url(images/background.jpeg);
    padding-top: 120px;
    
    
    
}
.hero-content{
    flex: 1;
    text-align: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    margin-left: 80px;
  
}

.hero-image img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}
.hero-content h4{
    padding-bottom: 15px;
    
}
.hero-content h1{
    color: #088178;
}
.hero-content button{
    background-color: #088178;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(8, 129, 120, 0.3);
    transition: all 0.3s ease;
   
   

}


.hero-content button:hover {
  background-color: #063f3b;
  transform: translateY(-3px);
}

#category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.section-p1 .category-box{
    width: 170px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 10px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;



}
.section-p1 .category-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);


}
.section-p1 .category-box img{
    width: 100%;
    margin-bottom: 10px;
}
.section-p1 .category-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: aliceblue;

}
.section-p1 .category-box:nth-child(2) h6{
    background-color: pink;

}

.section-p1 .category-box:nth-child(3) h6{
    background-color: rgb(199, 230, 199);

}

.section-p1 .category-box:nth-child(4) h6{
    background-color: rgb(186, 209, 219)

}

.section-p1 .category-box:nth-child(5) h6{
    background-color: rgb(192, 156, 192)

}

.section-p1 .category-box:nth-child(6) h6{
    background-color: rgba(212, 180, 180, 0.854);

}


#product1{
    text-align: center;
    background-color: #e6f2f8;
}


#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px /20px 30px rgba(0,0,0,0.02) ;
    margin: 50px 0;
    transition: 0.2s ease;
    position: relative;
   

}

#product1 .pro:hover{
   box-shadow:20px 20px 30px rgba(0,0,0,0.06) ;

}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
   
   

}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color:#606063 ;
    font-size: 12px;


}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25) ;

}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}

.cart{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0 ;
    position: absolute;
    bottom: 20px;
    right: 10px;




}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(118, 166, 208) ;
    width: 100%;
    height: 40vh;
}

#banner h4{
    color: #fff;
    font-size: 16px;

}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/lady.webp);
    min-width: 540px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;



}
#sm-banner .banner-box2{
    background-image: url(images/tees.webp);
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 26px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;

}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border:1px solid #088178 ;

}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/flower.jpg);
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}


#banner3 .banner-box2{
    background-image: url(images/banner2.jpg);
   

}


#banner3 .banner-box3{
    background-image: url(images/ban.jpg);
   

}



#banner3 .banner-box:hover button{
    background: #088178;
    color: #fff;
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;

}

#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
    
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    


}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p  span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width:40% ;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    

}
#contact img{
    height: 190px;
    width: 190px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    background-color: #E3E6F3;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;


}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover{
    color: #088178;
    
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}

footer .install img{
    margin: 10px 0 15px 0;

}

footer a:hover{
    color: #088178;

}

footer .copyright{
    width: 100%;
    text-align: center;
}

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size:24px;
        padding-left: 20px;

    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size:24px ;
    }

    #lg-bag{
        display: none;
    }

    .hero-section {
    height: 70vh;
    padding-right: 0 80px;
    background-position: top 30% right 30%;

    }

    #category {
        justify-content:center;
   
    }

    .section-p1 .category-box {
        margin: 15px 15px;
    }

    #product1 .pro-container{
        justify-content: center;

    }
    #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box{
        height: auto;
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .hero-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 120px 20px 120px 20px;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .hero-content{
        flex: 1;
        margin: 0;
        padding-right:20px ;
    }

    .hero-image{
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .hero-image img{
        width: 100%;
        max-width: 250px;
        height: auto;
        object-fit: contain;
    }

    #category .category-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #category{
        justify-content: space-between;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner{
        height: 40vh;
    }
   

    #sm-banner .banner-box{
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;

    }
    #banner3 .banner-box{
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    footer.copyright{
        text-align: start;
    }
    









}




